*{
  padding: 0;
  margin: 0;
}
body,html{
  width: 100%;
  height: 100%;
}
.header{
  height: 218px;
  width: 100%;
  background: aqua;
  .login{
    width: 100%;
    height: 30px;
    background: black;
  }
  .headerNav{
    width: 100%;
    height: 56px;
    background:gold;
  }
  .headerSearch{
    width: 100%;
    height: 132px;
    background: chartreuse;
  }
}
.min{
  width: 1200px;
  margin: auto;
  .banner {
    width: 1200px;
    background: black;
    height: 346px;

    .minLeft {
      width: 321px;
      height: 385px;
      float: left;
      background: cornflowerblue;
    }

    .minRight {
      width: 840px;
      height: 346px;
      background: red;
      float: left;
    }
  }
  .hotNew{
    width: 1200px;
    height: 53px;
    background: #fff;
    position: relative;
    z-index: 10;
    font-size: 16px;
    cursor: pointer;
    color: #999;
    margin-top: 52px;
    margin-bottom: 14px;
    border-bottom: 1px solid #E8E8E8;
    .current{
      border-bottom: 2px solid #333;
      background: #fff;
      color: #333;

    }
    >div:nth-child(1){
      position: absolute;
      left: 4px;
      top:20px;

      }
    >div:nth-child(2){
      position: absolute;
      left: 130px;
      top:20px;

    }
    }
  .minTop{
    @img:'../images/img1/';
    width: 1218px;
    height: 648px;
    background: #ffffff;
    .lf{
      float: left;
    }
    .rt{
      float: right;
    }
    .font(){
      font-size: 14px;
      font-family: "Hiragino Sans GB","Microsoft Yahei",SimSun,Arial,"Helvetica Neue",Helvetica;
    }
    .cut{    text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      word-wrap: normal;};
    .a(){
      color: #333;
      max-width: 145px;
      text-decoration: none;
    }
    ul{
      height: 648px;
      li{
        list-style: none;
        float: left;
        position: relative;
        width: 390px;
        height: 200px;
        margin: 16px 16px 0 0;
        padding: 20px 18px 0;
        border: 1px solid #EAEEED;
        box-sizing: border-box;
        div.top{
          width: 351px;
          height: 22px;
          a{
            .a();
            .lf;
            cursor: pointer;
          }
           .time{
            color: #999;
            font-size: 14px;
             margin-right: 6px;
             margin-left: 5px;
             .lf
          }
           .chat-box{
            .lf;
            cursor: pointer;
             background:url("@{img}chat-box.png")no-repeat 0 0 ;
             display: inline-block;
             position: relative;
             width: 16px;
             height: 16px;
          }

          .salary{
            .rt;
            font-size: 16px;
            color: #fa6041;
          }
        }
        .center{
          span{
            line-height: 30px;
            color: #777;
            .font()
          }}
          .type {
            >span{
              margin-left: 6px;
              display: inline-block;
              width: 61px;
              height: 26px;
              padding: 0 5px;
              font-size: 12px;
              line-height: 26px;
              color: #999;
              border: 1px solid #F0F0F0;
              border-radius: 3px;
              text-align: center;

            }
          }
          .bottom{
            margin-top: 18px;
            padding-top: 18px;
            border-top: 1px dashed #E0E0E0;
            .lf-box{
              img{
                border: 0;
                vertical-align: top;
                display: inline-block;
                width: 40px;
                height: 40px;
                cursor: pointer;
              }

            }
             .rt-box{
               margin-left: 54px;
               margin-top: -34px;
               .box1{
                 height: 20px;
                 line-height: 20px;
                 font-size: 14px;
                 color: #333;
                 a {
                   .a();
                   line-height: 20px;
                   font-size: 14px;
                   color: #555;
                   cursor: pointer;
                 }

               }
               .box2{
                 height: 20px;
                 line-height: 20px;
                 color: #999;
                 .cut;
                 span{
                  .font();
                 }
               }

            }

          }


      }
    }

  }
  .company{
    width: 1200px;
    background: darkseagreen;
    height: 53px;
  }
  .minBottom{
    width: 1200px;
    height: 572px;
    background: deeppink;
  }
  .frined{
    width: 1200px;
    height: 198px;
    background: beige;
  }

}
.footer{
  width: 100%;
  height: 354px;
  background: lawngreen;
}


